$item-icon-bg: #F2F2F2;

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: rem(300);
  width: 33.333%;
}

.item__title {
  font-size: rem(27);
  line-height: 1.18;
  margin-bottom: rem(34);
}

.item__icon {
  width: rem(130);
  height: rem(130);
  background: $item-icon-bg;
  border-radius: 50%;
  box-shadow: 0px rem(4 10) rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(35);
  img {
    max-width: rem(62);
  }
}

.item__descr {
  font-family: $text-font;
  font-size: rem(19);
  line-height: 1.2;
  text-align: center;
  white-space: normal;
}

@media (max-width: 768px) {
  .item {
    max-width: none;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .item__descr {
    font-size: rem(20);
  }
}
