$main-font: 'Rubik', sans-serif;
$text-font: 'Montserrat', sans-serif;
$main-fz: 20px;

$main-font-color: #000;

$gradient-bg: linear-gradient(to left, #4A3172 0%, #843F5F 100%);

$yellow-btn-color: #FFDD05;
$green-btn-color: #27AE60;
